body {
    margin: 0;
    padding: 0;
    background: #262626;
}
.skewedBox {

        background: #edff57;
        padding: 100px 0;
        transform: skew(0deg, -10deg) translateY(-120px);
}
.container {
    padding: 150px 200px;
    transform: skew(0deg, 10deg) translateY(-120px);
}
.container h1{
    margin: 0;
    padding: 20px 0;
    font-size: 3em;
}
.container p {
    font-size: 1em;
    margin: 0;
    padding: 0;
    line-height: 1.5em;
    width: 100%;
}
.sec2 {
    padding: 0 200px 150px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    text-align: right;
}
.sec2 h1{
    margin: 0;
    padding: 20px 0;
    font-size: 3em;
}
.sec2 p {
    font-size: 1em;
    margin: 0;
    padding: 0;
    line-height: 1.5em;
    width: 100%;
}